{% extends 'bases/base_modal.html.twig' %}
{% block modalTitle %}
    {{caption}}
{% endblock %}
{% block formstart %}
    {{ form_start(form) }}
{% endblock %}
{% block modalContent %}
    <section class="form-block">
        {{ form_row(form.guId) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.itemName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.itemType) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.itemText) }}
            </div>
            <div class="col-md-6 p-4 card-group">
                <div class="card m-1">
                      <div class="card-header">
                        Preview
                    </div>
                    <div class="card-body preview_view">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block modalFooter %}
    <div class="col-md-12">
        {{ form_widget(form.btnInsert, {attr: {class: 'btn btn-sm btn-primary btn-action-submit'} }) }}
        <button class="btn btn-sm btn-secondary" data-dismiss="modal" type="button">Close</button>
    </div>
{% endblock %}
{% block formend %}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}