{% extends 'user/Login/master.html.twig' %}
{% block mastercontent %}
    {% trans_default_domain 'general' %}
    <div class="col-md-10 col-md-offset-1">
        <div class="box box-primary recoverPass">
            <div class="box-header">
                <h3 class="box-title">{{ 'recoverPassword.labels.heading'|trans({}) }}</h3>
            </div>
            <div class="box-body with-border">
                <div class="col-md-12">
                    <div class="radioGrp no-padding" style="float: left; width: 2%;">
                        <input name="recoverPass" class="recoverByEmail" style="margin-top: 0px;" type="radio">
                    </div>
                    {{ 'recoverPassword.labels.recoverByEmail'|trans({}) }}
                    {{form_start(form1,{'attr' : {'id' : 'userNameForm'}})}}
                        <div class="col-md-12 mrg10T hidden recoverByEmailForm">
                            {{form_row(form1.userName)}}
                            <div class="col-md-12 text-center">
                                <button class="btn btn-xs text-center btn-primary" id="validateEmailOrUserId">{{ 'recoverPassword.labels.validate'|trans({}) }}</button>
                            </div>
                        </div>
                    {{ form_end(form1) }}
                </div>
                <div class="col-md-12 mrg10T">
                    <div class="radioGrp no-padding" style="float: left; width: 2%;">
                        <input name="recoverPass" class="recoverBySMS" style="margin-top: 0px;" type="radio">
                    </div>
                    {{ 'recoverPassword.labels.recoverBySMS'|trans({}) }}
                    {{form_start(form2,{'attr' : {'id' : 'userNameMobileForm'}})}}
                        <div class="col-md-12 mrg10T hidden recoverBySMSForm">
                            {{form_row(form2.userIdForSMS)}}
                            {{form_row(form2.mobile)}}
                            <div class="col-md-12 text-center">
                                <button class="btn btn-xs btn-primary" id="validateSMS">{{ 'recoverPassword.labels.validate'|trans({}) }}</button>
                            </div>
                        </div>
                    {{ form_end(form2) }}
                </div>
          </div>
        </div>
    </div>
{% endblock %}
{% block jsInPages %}
    {{parent()}}
    <script type="text/javascript">
        $('input[type=radio]').click(function(e){
              var className = $(this).attr('class');
              if(className === 'recoverByEmail'){
                  recoverByEmailForm();
              }else{
                  recoverBySMSForm();
              }
        });
        function recoverByEmailForm(){
            $('.recoverBySMSForm').addClass('hidden');
            $('.recoverByEmailForm').removeClass('hidden');
            $('#userNameMobileForm').removeClass('has-error');
            $('#{{ form2.userIdForSMS.vars.id }}').val('');
            $('#{{ form2.mobile.vars.id }}').val('');
        }

        function recoverBySMSForm(){
            $('.recoverByEmailForm').addClass('hidden');
            $('.recoverBySMSForm').removeClass('hidden');
            $('#userNameForm').removeClass('has-error');
            $('#{{ form1.userName.vars.id }}').val('');
        }

        $('#validateEmailOrUserId').click(function(e){
            e.preventDefault();
            var data = $('form#userNameForm').serialize();
            var path = $('form#userNameForm').attr('action');
            if($('#{{ form1.userName.vars.id }}').val() === '' || $('#{{ form1.userName.vars.id }}').val() === 'undefined'){
                $('#userNameForm').addClass('has-error');
                return false;
            }
            $.ajax({
                url: path,
                data: data,
                type: 'POST',
                dataType: 'JSON',
                beforeSend: function(){
                    $('.recoverPass').append('<div class="overlay"><span class="fa fa-refresh fa-spin fa-2x"></span></div>');
                },
                success: function(response){
                    if(response.type === 'success'){
                        addMsg(response.type, response.msg);
                        $('#userNameForm').removeClass('has-error');
                    }else{
                        addMsg(response.type, response.msg);
                        $('#userNameForm').addClass('has-error');
                    }
                },
                complete: function(){
                    $('.recoverPass').find('.overlay').remove();
                }
            });
        });

        $('#validateSMS').click(function(e){
            e.preventDefault();
            var data = $('form#userNameMobileForm').serialize();
            var path = $('form#userNameMobileForm').attr('action');
            $.ajax({
                url: path,
                data: data,
                type: 'POST',
                dataType: 'JSON',
                beforeSend: function(){
                    $('.recoverPass').append('<div class="overlay"><span class="fa fa-refresh fa-spin fa-2x"></span></div>');
                },
                success: function(data){
                    if(data.type === 'success'){
                        $('#userNameMobileForm').removeClass('has-error');
                        $('#globalSubModalLabel').html('Enter OTP');
                        $('.globalSubModalContent').html('');
                        $('.globalSubModalContent').html(data.form);
                        $('#globalSubModal').modal({
                          'show': true,
                          'backdrop': 'static',
                          'keyboard': false
                        });
                    }else{
                        addMsg(data.type, data.msg);
                        $('#userNameMobileForm').addClass('has-error');
                    }
                },
                complete: function(){
                    $('.recoverPass').find('.overlay').remove();
                }
            });
        });
    </script>
{% endblock %}
