{% if (pagination | length > 0) %}
<table class="table table-striped table-bordered table-hover table-sm">
	<thead>
		<tr>
			<th>#</th>
			<th class="">Trace ID</th>
			<th class="">Message Type</th>
			<th class="">Sender ID</th>
			<th class="">Receiver ID</th>
			<th class="">Submitted By</th>
			<th class="">Submitted On</th>
			<th class="">Action</th>
		</tr>
	</thead>
	{% set offset = pagination.getPaginationData.numItemsPerPage %}
	{% set current = pagination.getPaginationData.current %}
	{% for record in pagination %}
		{% set badges = '' %}
		<tr data-id="{{record.guId}}" class="btn-action-trmenu" data-objid="{{record.guId}}" data-popper-header="{{record.traceID}}">
			<td>{{ ((current-1)*offset)+loop.index }}</td>
			<td>{{record.traceID}}</td>
			<td>{{record.messageType}}</td>
			<td>{{record.senderID}}</td>
			<td>{{record.receiverID}}</td>
			<td>{{record.submittedBy}}</td>
			<td>{{record.submittedOn | date('d-M-y H:i:s')}}</td>
			<td class="">
				{% embed 'bases/__action_menu.html.twig' %}
					{% block action_menu_header %}
						<span>{{ record.submittedBy }}</span>
					{% endblock %}
					{% import "/bases/__action_menu_item.html.twig" as amenu %}
					{% block action_menu %}
						{{ amenu.amenuitem("View", record.guId,  path('fmt_view'), "btn-action-view", "fa-search", "primary")}}
						{{ amenu.amenuitem("Trace Originator", record.guId,  path('fmt_trace_originator'), "btn-action-view", "fa-search", "primary")}}
						{{ amenu.amenuitem("Trace Recipients", record.guId,  path('fmt_trace_recipients'), "btn-action-view", "fa-search", "primary")}}
						{{ amenu.amenuitem("Retract Message", record.guId,  path('fmt_retract_message'), "btn-action-view", "fa-search", "primary")}}
					{% endblock %}
				{% endembed %}
			</td>
		</tr>
	{% endfor %}
</table>
{{ knp_pagination_render(pagination) }}
{% else %}
	<h4 class="alert alert-info">No trace data available</h4>
{% endif %}
