{% extends 'bases/base_modal.html.twig' %}
{% block modalTitle %}
    {{caption}}
{% endblock %}
{% block formstart %}
    {{ form_start(form) }}
{% endblock %}
{% block modalContent %}
    <section class="form-block">
        <div class="row " id="form1">
            {{ form_row(form.guId) }}
            <div class="col-md-12 no-padding pad10A" style="background-color: rgb(236, 236, 236);">
                <div class="col-md-5 no-padding">
                    <span class="label label-default fs14" data-original-title="" title="">
                        STEP 1:</span>
                    Enter App Information
                </div>
            </div>
            {#      <div class="col-md-6">
                      {% if is_granted("ROLE_SUPER_ADMIN") %}
                          {{ form_row(form.organizationUnit) }}
                      {% else %}
                          <div class="text-center pt-3">
                              <h3>
                                  {{organizationUnit.OUName}}
                                  [{{organizationUnit.OUCode}}]</h3>
                              <input class="oubox" type="hidden" data-prefix="{{organizationUnit.OUCode}}"/>
                          </div>
                      {% endif %}
                  </div>#}
            <div class="col-md-6">
                {{ form_row(form.appVersion) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.appBuildNo) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.appVersionNo) }}
            </div>
            {#<div class="col-md-6">
                {{ form_row(form.appManifestName) }}
            </div>#}
            <div class="col-md-6">
                {{ form_row(form.appReleaseNotes) }}
            </div>
            <div class="col-md-6">
            </div>
            <div class="text-center col-md-12 mb-2">
                {{ form_widget(form.btnInsert, {attr: {class: 'btn btn-sm btn-primary btn-save-details '} }) }}
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <div class="row invisible" id="form2" >
            <div class="col-md-12 no-padding pad10A" style="background-color: rgb(236, 236, 236);">
                <div class="col-md-5 no-padding">
                    <span class="label label-default fs14" data-original-title="" title="">
                        STEP 2:</span>
                    Upload App
                </div>
            </div>
            <div class="col-md-7 pull-right no-padding text-right scanUploadDiv">
                {% if (scanUpload is defined) %}
                    {% for scanUpload in scanUpload %}
                        {% if (scanUpload.guId != '') %}
                            <div class="pull-right margin" style="background-color: #ededf0; padding: 5px;">
                                <strong class="margin">Letter
                                    {{loop.index}}</strong>
                                <a title="Download/View the upload" data-id="{{ scanUpload.guId }}" id="{{ scanUpload.guId }}" class="scanFileDownload btn btn-xs btn-success pull-right mrg5A">
                                    <span class="glyphicon glyphicon-download fa-1x"></span>
                                </a>
                                <a title="Remove this upload" data-id="{{ scanUpload.guId }}" id="{{ scanUpload.guId }}" class="scanFileDelete btn btn-xs btn-danger pull-right mrg5A">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {# {% if (scanUpload is defined) %}
                     {% for scanUpload in scanUpload %}
                         {% if (scanUpload.guId != '') %}
                             <div class="pull-right margin" style="background-color: #ededf0; padding: 5px;">
                                 <strong class="margin">Letter
                                     {{loop.index}}</strong>
                                 <a title="Download/View the upload" data-id="{{ scanUpload.guId }}" id="{{ scanUpload.guId }}" class="scanFileDownload btn btn-xs btn-success pull-right mrg5A">
                                     <span class="glyphicon glyphicon-download fa-1x"></span>
                                 </a>
                                 <a title="Remove this upload" data-id="{{ scanUpload.guId }}" id="{{ scanUpload.guId }}" class="scanFileDelete btn btn-xs btn-danger pull-right mrg5A">
                                     <i class="fa fa-trash"></i>
                                 </a>
                             </div>
                         {% endif %}
                     {% endfor %}
                 {% endif %}#}
                <form method="post" id="fileinfo" name="fileinfo">
                    <input id="scanFileUpload" data-guid="" data-upath="{{path('portal_upload_save', {'guid' : '____' } )}}" type="file" name="file" class="pull-right" {#required="required"#}/>
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="progress no-padding no-margin col-md-12">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        {#<div class="row invisible" id="form3" >
            <div class="col-md-12 no-padding pad10A" style="background-color: rgb(236, 236, 236);">
                <div class="col-md-5 no-padding">
                    <span class="label label-default fs14" data-original-title="" title="">
                        STEP 3:</span>
                    Upload Manifest
                </div>
            </div>
            <div class="col-md-7 pull-right no-padding text-right manifestUploadDiv">
                <form method="post" id="manifestfileinfo" name="manifestfileinfo">
                    <input data-mode="ios" id="manifestFileUpload" data-guid="" data-upath="{{path('portal_upload_manifest', {'guid' : '____' } )}}" type="file" name="file" class="pull-right" />
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="progress-2 no-padding no-margin col-md-12">
                <div class="progress-bar-2" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>#}
    </section>
{% endblock %}
{% block modalFooter %}
    <div class="col-md-12">
        <button class="btn btn-sm btn-secondary" data-dismiss="modal" type="button">Close</button>
    </div>
{% endblock %}
{% block formend %}

{% endblock %}