<div style="height: 40px;margin-top: 3px; padding: 3px; width: 100%; border-top: 1px dotted gray;">
    <div class="row p-0">
        <div class="col-4 p-0">
            <span class="text-primary">
                Showing page
                {{current}}/{{pageCount}}
                of
                {{totalCount}}
                results</span>
        </div>
        <div class="col-2">
            {% if pageCount > 1 %}
                <div class="input-group input-group-sm p-0">
                    <input class="form-control" placeholder="Page#" id="__KNP_goto_page" value="{{current}}" type="text"/>
                    <span class="input-group-btn">
                        <span id="search" data-paginator-url="{{ path(route, query|merge({(pageParameterName): '__gPage__'})) }}" class="btn btn-sm btn-secondary btn-flat text-bold paginator-goto-button">Go</span>
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="col-6 p-0 ">
            <div class="pull-right">
                {% if pageCount > 1 %}
                    {% if first is defined and current != first %}
                        <a class="btn btn-sm btn-secondary pagination-navigator-dashboard" href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                            &lt;&lt;
                        </a>
                    {% endif %}
                    {% if previous is defined %}
                        <a class="btn btn-sm btn-secondary pagination-navigator-dashboard" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                            &lt;
                        </a>
                    {% endif %}
                    {% for page in pagesInRange %}
                        {% if page != current %}
                            <a class="btn btn-sm btn-secondary pagination-navigator-dashboard" href="{{ path(route, query|merge({(pageParameterName): page})) }}">
                                <span style="width: 32px;">{{ page }}</span>
                            </a>
                        {% else %}
                            <a class="btn btn-sm btn-primary">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if next is defined %}
                        <a class="btn btn-sm btn-secondary pagination-navigator-dashboard" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                            <span >&gt;</span>
                        </a>
                    {% endif %}
                    {% if last is defined and current != last %}
                        <a class="btn btn-sm btn-secondary pagination-navigator-dashboard" href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                            <span >&gt;&gt;</span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>