<div class="row p-2">
	<div class="col-4">
		<h5>
			{{ ou.OUName }}
		</h5>
	</div>
	<div class="col-8 text-right">
		{{ knp_pagination_filter(paged_records, {'employee_name': 'Member Name' }) }}
	</div>
	<div class="col-12 text-right">
		{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
			<span class="btn btn-primary btn-sm pull-left sendMessage" data-path="{{ path('portal_send_message') }}" data-email="{{ path('portal_ntfy_email') }}" data-msg="{{ path('portal_ntfy_gims') }}" data-type="m" data-data="" >Sandes Message</span>
		{% endif %}
		{{ knp_pagination_sortable(paged_records, 'Employee', '[employee_name]') }}
		{{ knp_pagination_sortable(paged_records, 'Message Count', '[message_count]') }}
	</div>
	<div class="col-12">
		{% set offset = paged_records.getPaginationData.numItemsPerPage %}
		{% set current = paged_records.getPaginationData.current %}
		<div class="row pt-0">
			{% for record in paged_records %}
				<div class="col-lg-4 col-md-6 col-sm-6 p-0">
					<div class="card m-1" style="background-color: #c2e0f3; height: 110px;">
						<div class="card-body p-2">
							<span class="text-muted" style="position: absolute; left: 0; top: 0;">
								{{ ((current-1)*offset)+loop.index }}.
							</span>
							<div class="m-2" style="width: 65px; height: 85px; position: absolute; left: 8px; top: 5px;">
								<img class="img-thumbnail" src="{{ path('portal_emp_photo', { 'egId' : record.gu_id }) }}" height="85" width="64"/>
							</div>
							{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
								<span class="pull-right"><input type="checkbox" data-guid="{{ record.gu_id }}" data-objname="{{ record.employee_name }}" class="selectmember"/></span>
							{% endif %}
							<div class="m-2" style="position: absolute; left: 83px; top: 0; z-index: 500">
								<strong style="font-size: large;">
									{{record.employee_name}}</strong><br/>
								<strong>{{record.designation_name}}</strong><br/>
								<small>
									<i class="fa fa-clock-o"></i>
									{{record.last_activity}}
								</small>
								<br/>
								{% if record.registered == "Y" %}
									<span class="badge badge-secondary">
										<i class="fa fa-check-circle text-success"></i>Registered</span>
								{% else  %}
									<span class="badge badge-secondary">
										<i class="fa fa-close text-danger"></i>Not Registered</span>
								{% endif %}
								{% if record.os == 'Android'%}
									<i class="fa fa-android fa-2x" style="color: hsl(206, 75%, 30%)"></i>
								{% elseif record.os == 'iOS'%}
									<i class="fa fa-apple fa-2x" style="color: hsl(206, 75%, 30%)"></i>
								{% endif %}
								<span class="badge bg-primary badge-small text-white">{{record.app_version}}</span>
							</div>
							<i class="fa fa-comments fa-5x" style="color: #a6d1ec; position: absolute; right: 0px; bottom: 0px; z-index: 0"></i>
							<h2 class="font-weight-bold mr-2" style="color: #06619b; position: absolute; right: 0px; top: 30px;">
								{{record.message_count}}</h2>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div id="divStatsPaginator">
			{{ knp_pagination_render(paged_records,'/bases/knp_pagination_dashboard.html.twig') }}
		</div>
	</div>
</div>
