{% extends 'bases/base_modal.html.twig' %}
{% block modalTitle %}
    Manage Groups for Group Admins
{% endblock %}
{% block modalContent %}
    {% set availableGroups = groupStatus.availableGroups %}
    {% set assignedGroups = groupStatus.assignedGroups %}
    <section class="form-block">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Groups Available in OU</h5>
                        <p class="card-text"></p>
                        {% for avgroup in availableGroups %}
                                    <h4>
                                    <a href="#" data-toggle="confirmation" class="badge badge-pill badge-secondary btn-emp-groups-add text-left" data-objid="{{ employee.guId }}" data-group="{{ avgroup.guId }}" data-group-add-path="{{ path('portal_emp_groups_admin_add') }}">

                                        <i class="fa fa-plus" style="color: green"></i>
                                        <small>
                                            {{avgroup.groupTitle}}
                                        </small>
                                    </a>
                                    </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Groups</h5>
                        <p class="card-text">{{employee.employeeName}} is already Group Admin of following groups</p>
                        {% for asgroup in assignedGroups %}
                            <h3>
                                <a href="#" data-toggle="confirmation" class="badge badge-pill badge-secondary btn-emp-groups-remove m-1" data-objid="{{ employee.guId }}" data-group="{{ asgroup.group.guId }}" data-group-remove-path="{{ path('portal_emp_groups_admin_remove') }}">
                                    <i class="fa fa-close" style="color: red"></i>
                                    <small>
                                        {{asgroup.group.groupTitle}}
                                    </small>
                                </a>
                            </h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" name="token" value="{{ csrf_token('form_intention') }}"/>
{% endblock %}
{% block modalFooter %}
    <div class="col-md-12">
        <button class="btn btn-sm btn-secondary" data-dismiss="modal" type="button">Close</button>
    </div>
{% endblock %}
{% block formend %}{% endblock %}
